@tailwind base;
@tailwind components;
@tailwind utilities;

.uppercaseTitle {
  @apply text-sm font-semibold uppercase;
}

.defaultText {
  @apply text-textDefault;
}

.title {
  @apply text-2xl font-semibold;
}

.link {
  @apply defaultText cursor-pointer underline;
}

:root {
  --background: #ffffff;
  --text-default: #000000;
  --foreground: #000000;
  --primary: #1269c5;
  --secondary: #6c757d;
  --gray: #6b7280;
  --secondary-background: #eef0f2;
  --surface: #e3e7eb;
}

.dark {
  --background: #1a1a1a;
  --text-default: #ffffff;
  --foreground: #ffffff;
  --primary: #1269c5;
  --secondary: #adb5bd;
  --gray: #9ca3af;
  --secondary-background: #2d2d2d;
  --surface: #242424;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div {
  color: var(--textDefault);
}

html {
  height: 100%;
}

/* Eliminar estilos que causan doble scrollbar */
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  width: 100%;
  position: relative;
}
